	h1{background-color:#24B6FF;color:#003322;text-align:center;border:4px dashed black;}
	
	p {background-color:#FBBC05;color:green;text-align:center;border:4px dashed purple; }
	
	
	
	
	/*eta amar 1st css*/	
	
	
	.lol {
      width: 500px;
      height: 450px;
	  padding: 50px;
	  border: 10px solid black;
	  
	  
	  
	  
    }
		
		
		
		
		
		
		
		
		
		
	