	h1{background-color:red;color:green;text-align:center;}
	
	p {background-color:red;color:green;text-align:center; }
	
	
	
	/*eta amar 1st css*/	
	
	
	.lol {
      width: 500px;
      height: 150px;
    }
		
		
		
		
		
		
		
		
		
		
	