	*{
		margin:0px ;
		
		padding:0px;
		
		box-sizing: border-box;
			
		
	}
	
	
	.row{ display:flex; 
	
		font-family:Monospace;
		
		gap:20px; 
		
	    background-color:orange;
		
		 
		border: 5px ridge red;
		
		padding:10px;
		
	    }
	
	.col-1{border: 5px ridge green;padding:4px;}
	
	.col-2{border: 5px ridge green;padding:4px;}
	
	.col-3{border: 5px ridge green;padding:4px;}
	