	*{
		margin:10px ;
		
		padding:10px;
		
		box-sizing: border-box;
			
		
	}
	
	
	div{
		font-family:Sans-serif;
		border: 10px ridge #007F54;
		width: 600px ;
		height: 400px ;
		padding: 10px ;
	    background:url('Back.jpg');
		background-repeat:no-repeat;
		background-size:100% 100%;
	    color: #D90000 ;
		}
		
	p{ width: 200px ;
	   height: 100px ;
       padding: 20px ;	   }