	*{
		margin:0px ;
		
		padding:0px;
		
		box-sizing: border-box;
			
		
	}
	
	
	.BAT{
		
		border: 10px ridge #007F54;
		height: 400px ;
		padding: 10px 40px ;
	    background:url('Back.jpg');
		background-repeat:no-repeat;
		background-size:100% 100%;
	   
		}
	
	.BAT h1{ font-size:60px;
			color:Orange;
			margin-top:20px;
	
	
	}





	
	.BAT p {

       font-family:Sans-serif;
	   width: 200px ;
	   height: 100px ;
       padding: 20px ;
	   color:green;
	    }